# Logs
*.log
*.logs

# Dependencies
node_modules/
vendor/
.bundle

# Environment variables
.env
.env.local
.env.*.local

# Rails
/tmp
/log
/public/packs
/public/packs-test
/node_modules
/public/system
*.rbc
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/lib/bundler/man
.byebug_history
.spring
/bin/my_app
/config/master.key

# Shakapacker
/public/packs
/public/packs-test
/tmp/cache/webpacker
/tmp/cache/shakapacker

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
*~
.claude/*

# Docker
.dockerignore

# Test
/coverage

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

# direnv
.direnv/
.envrc
.agent.md
.copilot-prompt.txt
.github/copilot-instructions.md