<!DOCTYPE html>
<html>
  <head>
    <title>Duty Shuffle - 掃除当番管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
