<p><%= @resource.email %> 様</p>

<p>パスワード再設定の依頼を受け付けました。</p>
<p>以下のリンクから新しいパスワードを設定してください。</p>

<p>
  <a href="<%= "#{ENV.fetch('APP_BASE_URL', 'http://localhost:3000')}/password-reset?token=#{CGI.escape(@token)}" %>">
    パスワードを再設定する
  </a>
</p>

<p>このメールに心当たりがない場合は、このメールを破棄してください。</p>
